<!DOCTYPE html>
<html lang="{{ site.language }}">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
		<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
		<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
		<link href='//fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Sanchez:400,400italic' rel='stylesheet' type='text/css'>
		<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl }}">
		<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
		<link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
		<link rel="apple-touch-icon" href="{{ site.baseurl }}/apple-touch-icon.png">
	</head>
	<body>
		<header class="site-header">
		{% if site.title %}
			<h1>
				<a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}" rel="home">{{ site.title }}</a>
			</h1>
		{% else %}
			<a class="site-title" href="{{ site.baseurl }}/" title="{{ site.title }}" rel="home">{{ site.title }}</a>
		{% endif %}
		</header>
		<div class="content" role="main">
			{{ content }}
		</div>
		{% if paginator %}
		<nav class="pagination group" role="navigation">
		{% if paginator.next_page %}
			<a href="{{paginator.next_page_path}}">&larr;</a>
		{% endif %}
		{% if paginator.previous_page %}
			<a href="{{paginator.previous_page_path}}">&rarr;</a>
		{% endif %}
		</nav>
		{% endif %}
		<footer class="site-footer">
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/MovingImage" property="dct:title" rel="dct:type">Webcomics</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://jatindhankhar.in/comics" property="cc:attributionName" rel="cc:attributionURL">Jatin Dhankhar</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.<br />Based on a work at <a xmlns:dct="http://purl.org/dc/terms/" href="https://jatindhankhar.in/comics" rel="dct:source">https://jatindhankhar.in/comics</a>.
		</footer>
		<script>
			document.body.onscroll = function() {
				var e = document.getElementById('go-top');
				if (document.body.scrollTop !=0 || document.documentElement.scrollTop != 0) {
					e.style.right = '.5em';
				}
				else e.style.right = '-1em';
			}
			var timeOut;
			function scrollToTop() {
				if (document.body.scrollTop !=0 || document.documentElement.scrollTop != 0) {
					window.scrollBy(0,-50);
					timeOut=setTimeout('scrollToTop()',5);
				}
				else clearTimeout(timeOut);
			}
		</script>
	</body>
</html>